.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.action-button{
  font-size: 17px;
}
.update-button{
  color: rgb(25, 112, 234);
}
.delete-button{
  color: rgb(227, 45, 45);

}
.action-button:hover{
  cursor: pointer;
}

.button-title{
  justify-content: space-around;
  display: flex;
}
.stt-column{
  width: 100px;
}
.action-column{
  width: 120px;
}
.layout{
  display: flex;
  justify-content: space-between;
}
.custom-input-group{
  justify-content: center;
  align-items: center;
  display: flex;
}

.add-title-form {
  width: 40%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: slide-in 0.3s ease-in-out;
  overflow: hidden;
  border-left: 2px solid #d3d3d3;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.show-add-title-form.active {
  /* Additional style for active state (optional) */
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

}
[nz-form] {
  max-width: 100%;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
